*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px 130px 1fr 50px;
    grid-template-areas: 
    "zh"
    "zn"
    "zs"
    "zf";
}


header{
    grid-area: zh;
    background-color: #1F3539; 
    border-bottom: 3px solid #324E53;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.div_header{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

#div_menu_desplegable_header{
    padding-left: 5%;
    font-size: 50px;
}

#div_botones_extra_header{
    display: flex;
    align-items: center;
    justify-content: right;
    
}

#boton_login_header{
    background-color: #0CA789;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    width: 160px;
    border-radius: 10px;
}

#botones_extra_header{
    height: 50px;
    display: flex;
    align-items: top;
    margin: 20px;
    font-size: 50px;
    
}

nav{
    grid-area: zn;
    background-color: #1F3539;
    border-top: 3px solid #324E53;
    border-bottom-right-radius: 10px ;
    border-bottom-left-radius: 10px ;
    display: flex;
    align-items: center;
    color: white;
}

.div_nav{
    width: 100%;
    height: 50%;

}

#div_foros_nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.div_foros{
    background-color: #476368;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 20%;
    border-radius: 10px;
}



section {
    grid-area: zs;
    background-color: white; 
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.mensaje {
    border: 2px solid rgb(82, 77, 77);
    height: auto;
    width: 90%;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
}

.div_datos_mensaje{
    height: 42px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.div_foto_mensaje{
    height: 100%;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto_mensaje{
    height: 90%;
    width: 90%;
}

.img_foto_mensaje{
    height: 100%;
}

.nombre_usu_mensaje{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: 700;
    
}

.div_texto_mensaje{
    height: auto;
    padding-left: 60px;
}



footer{
    grid-area: zf;
    background-color: lightgreen; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_modal{
    width: 100%;
    height: 100%;
    /* Referido a la posicion izquierda */
    /* Vamos a acomodar el div modal al section */
    position: absolute;
    top:100px;
    left: 0;
    z-index: 10;
    background-color: rgb(190, 248, 190);
    /* Oculta la ventana */
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#form_login{
    border: 1px solid black;
    padding: 30px;
    font-size: 20px;

}

#div_error{
    color: red;
    font-weight: bold;
}

.centrado{
    text-align: center;
}