*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Fredoka", sans-serif ;

}
#body_index{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 120px 1fr;
    grid-template-areas: 
    "zh"
    "zn"
    "zs";
}

#modal_admin{
    position: fixed;
    background-color: #1F3539;
    width: 100%;
    height: 100%;
    z-index: 30;
    display: none;
    align-items: center;
    justify-content: center;
}

#botonenviartema{
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#botonxadmin{
    position: absolute;
    top: 2%;
    left: 95%;
    font-size: 22px;
    color: white;
    cursor: pointer;
    z-index: 20;
}

#botonxinsertartema{
    position: absolute;
    top: 2%;
    left: 95%;
    font-size: 22px;
    color: white;
    cursor: pointer;
    z-index: 20;
}

#div_center_admin{
    height: auto;
    width: 60%;
    text-align: center;
}

#div_center_admin_datos{
    height: 184px;
    width: 60%;
    text-align: center;
}

.inputs_insertar{
    height: 70px;
    width: 90%;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid black;
}

#insertar_tema{
    position: fixed;
    background-color: #1f3539da;
    width: 100%;
    height: 100%;
    z-index: 40;
    display: none;
    align-items: center;
    justify-content: center;
}

.div_admin{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid #0e181a;
    color: #0e181a;
    height: 290px;
    width: 290px;
    margin: 4% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
}


#botonxregistro{
    position: absolute;
    top: 1%;
    left: 96%;
    font-size: 22px;
    color: white;
    cursor: pointer;
    z-index: 20;
}

#botonxregistro:hover{
    color: #0CA789;
}

#modal_registro{
    position: fixed;
    background-color: #1F3539;
    width: 100%;
    height: 100%;
    z-index: 30;
    display: none;
    flex-wrap: wrap;
}

#modal_registro > div{
    width: 100%;
}

.text_modal_registro{
    font-size: 150px;
    font-weight: 600;
    color: #00000041;
    font-family:"Fredoka", sans-serif ;
}

#div_modal_datauser_registro{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
    
    height: auto;

}

#div_modal_new_text{
    display: flex;
    align-items: end;
    justify-content: right;
}

#div_modal_user_text{
    display: flex;
    align-items: baseline;
    justify-content: left;
    padding-left: 20px;

}

.div_inputs_contenedor_modal_registro{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}


.div_inputs_contenedor_modal_registro > input{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: rgb(197, 195, 195);
    border: 0px;
    border-radius: 8px;

}

.div_inputs_contenedor_modal_registro > div{
    color: white;
    font-weight: 500;
    font-family:"Fredoka", sans-serif ;

}

#input_output_registro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 40%;

}

#mensaje_error_registro{
    display: none;
    text-align: center;
    margin-bottom: 5px;
    color: white;
}

#boton_registro{
    width: 100%;
    display: flex;
    justify-content: center;
}

#boton_registro > input{
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    background-color: #0CA789;
}






#botonx{
    position: absolute;
    top: 1%;
    left: 96%;
    font-size: 22px;
    color: white;
    cursor: pointer;
    z-index: 20;
}

#regsitrarse{
    position: absolute;
    display: flex;
    justify-content: left;
    top:2%;
    left: 2%;
    z-index: 10;
    font-size: 12px ;
}

#texto_registrarse:hover{
    color: #0CA789;
   z-index: 10 ;
   cursor: pointer;
}

#botonx:hover{
    color: #0CA789;
}



#modal_login{
    position: fixed;
    background-color: #1F3539;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    flex-wrap: wrap;
}

#modal_login > div{
    width: 100%;
}


#div_modal_log_text{
    display: flex;
    align-items: end;
    justify-content: right;

}

#div_modal_in_text{
    display: flex;
    align-items: baseline;
    justify-content: left;
    padding-left: 20px;
}

.text_modal{
    font-size: 200px;
    font-weight: 600;
    color: #00000041;
    font-family:"Fredoka", sans-serif ;
}


#div_modal_datauser{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#input_output_login{
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    height: 20%;
}

#mensaje_error{
    width: 100%;
    display: none;
    justify-content: center;
}

#boton_log_in{
    width: 40%;
    z-index: 30;
}

#boton_log_in > input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 0;
    background-color: #0CA789;
}

#contenedor_modal_login{
    width: 60%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedor_inputs{
    width: 100%;
}

.div_inputs_contenedor_modal_login{
    background-color: #1F3539 ;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

   
}

.div_inputs_contenedor_modal_login > input{
    width: 100%;
    height: 60px;
    padding-left: 10px;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: rgb(197, 195, 195);
    border: 0px;
    border-radius: 8px;

}

.div_inputs_contenedor_modal_login > div{
    color: white;
    font-weight: 500;
    font-size: 22px;
    padding: 20px;
    padding-left: 0;
    font-family:"Fredoka", sans-serif ;

}



#div_escribir_mensaje{
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: #1f3539;
    position: sticky;
    bottom: 0px;
    display: none;
    align-items: center;
    justify-content: space-evenly;
}

#input_div_escribir{
    width: 62%;
    height: auto;
    padding: 13px;
    font-size: 17px;
    border-radius: 10px;
}

#boton_enviar_div_escribir{
    width: 20%;
    padding: 10px;
    background-color: #0CA789;
    border: 1px solid rgba(0, 0, 0, 0);
    color: white;
    font-size: 16px;
    border-radius: 10px;
}


header{
    grid-area: zh;
    background-color: #1F3539; 
    border-bottom: 3px solid #324E53;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.div_header{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

#div_menu_desplegable_header{
    padding-left: 5%;
    font-size: 52px;
}

#icono_admin{
    width: 30px;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#div_botones_extra_header{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 5%;
    
}

#boton_login_header{
    background-color: #0CA789;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    width: 160px;
    border-radius: 10px;
    cursor: pointer;
}

#alias_login_header{
    background-color: #0CA789;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    width: 160px;
    border-radius: 10px;
    cursor: pointer;
}

#boton_login_header:hover{
    background-color: #086956;
}

#botones_extra_header{
    height: 50px;
    display: flex;
    align-items: top;
    margin: 20px;
    font-size: 50px;
    
}

nav{
    grid-area: zn;
    background-color: #1F3539;
    border-top: 3px solid #324E53;
    display: flex;
    align-items: center;
    color: white;
}

.div_nav{
    width: 100%;
    height: 50%;

}

#div_foros_nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.div_foros{
    background-color: #476368;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 20%;
    border-radius: 10px;
}

.nombre_tema{
    width: 80%;
    display: flex;
    justify-content: center;
}

.x_eliminarforo{
    display: none;
    justify-content: center;
    width: 10%;
    padding-right: 10px;
    color: black;
    font-size: 800;
}


section {
    grid-area: zs;
    background-color: #1F3539; 
    /* display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center; */
}

.mensaje {
    border: 2px solid rgb(82, 77, 77);
    background-color: white;
    height: auto;
    width: 90%;
    padding: 15px;
    border-radius: 8px;
    margin: 20px auto;
}

.div_datos_mensaje{
    height: 42px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.div_datos_mensaje > div{
    width: 50%;
    
}

.datos_mensaje{
    display: flex;

}

.div_foto_mensaje{
    height: 100%;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto_mensaje{
    height: 90%;
    width: 90%;
}

.img_foto_mensaje{
    height: 100%;
}

.nombre_usu_mensaje{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: 700;
}

.eliminar_mensaje{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    
}

.funcionalidad_mensaje{
    display: flex;
    justify-content: right;
    align-items: center;
}



.div_texto_mensaje{
    height: auto;
    padding-left: 60px;
}


/* ESTILOS div_img_elegir*/

#div_img_elegir{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-bottom: 8px;

}

.div_imagen_registro{
    width: 50px; 
    padding: 5px;
}

.div_imagen_registro > img{
   width: 100%;
}


@media screen and (min-width: 750px){
    .div_imagen_registro{
        width: 80px; 
        padding: 5px;
    }
}

@media screen and (min-width: 1150px){
    .div_imagen_registro{   
        width: 90px; 
        padding: 5px;
    }
}
    



